@import "codemirror/lib/codemirror";
@import "color";

#odoDivBin {
  background: black;
}

#odoDivOct {
  background: black;
}

#odoDivDec {
  background: black;
}

#odoDivHex {
  background: black;
}

#odoDivArb {
  background: black;
}
